 /*
    @author  CYRIL URBAN
    @date    2018-04-29
    @brief   ITW2 - project 2. Page for building company
 */

figure {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.zoom figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.zoom figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    float: left;
    position: relative;
    width: 520px;
    height: 350px;
}

.image {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.container:hover .overlay {
    opacity: 1;
}

.img_title_big {
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
}

.box {
    padding-bottom: 0px;
}

.realization .container {
    width: calc(520px * (2/3));
    height: calc(350px * (2/3));
}

.realization .image {
    height: calc(350px * (2/3));
}
