 /*
	@author  CYRIL URBAN
    @date    2018-04-29
    @brief   ITW2 - project 2. Page for building company
 */
 
*{
	margin: 0px;
}

html {
	background: url("../img/brickwall.jpg");
	background-repeat: repeat-x repeat-y;
}

body {
	text-align: justify;
	min-width: 1100px;
	font-family: Roboto Condensed;
	font-size: 12pt;
}

h2 {
	font-size: 20pt;
	text-align: left;
	color: #db1a23;
	padding-top: 10px;
	padding-bottom: 10px;
}

header {
	text-align: center;
}

#navbar {
	width: 100%;
	height: 80px;
	background: #333333;
	position: fixed;
	margin-top: -110px;
	z-index: 10;
}

#logo {
	background-image: url("../img/logo.png");
	float: left;
	margin-top: 11.5px;
	margin-left: 25px;
	height: 100px;
	width: 230px;
	background-size:contain;
	background-repeat: no-repeat;
}

#logo:hover {
   background-image: url("../img/logo_hover.png");
}

#preload-logo-to-cache { 
	background: url("../img/logo_hover.png") no-repeat -9999px -9999px; 
}

.menu {
	width: 1100px;
	margin: 0 auto;
}

.menu-right li {
	display: inline-block;
	margin-right: 40px;
}

.menu-right  {
	float: left;
	text-align: right;
	margin-top: 27px;
	font-size: 17pt;
}

.menu-right li a:link, .menu-right li a:visited, .menu-right li a:visited {
	text-decoration: none;
	color: white;
}

.menu-right li a:hover {
	text-decoration: underline;
	color: #db1a23;
}

.select {
	color: #db1a23 !important;
}

.submenu {
	margin: 30px;
	margin-bottom: 40px;
	text-align: center;
}

.submenu li {
	display: inline-block;
	margin-right: 40px;
}

.submenu li span {
	text-decoration: none;
	color: #666666;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 5px;
}

.submenu li span:hover {
	text-decoration: none;
	color: white;
	background-color: #db1a23;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.sub_select {
	text-decoration: none !important; 
	color: white !important; 
	background-color: #db1a23 !important; 
	padding: 10px !important; 
	border-radius: 5px !important; 
}

#vertical_line {
	height:80px;
	float: left;
	width:2px;
	background:#FFF;
	-moz-transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	transform: skew(-20deg);
	margin-left: 70px;
	margin-right: 30px;
}

#page-title {
	background: url("img/bg.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	height: 380px;
	width: 100%;
	z-index: -1; 
	position: relative;
}

#page-title h1 {
	padding-top: 150px;
}

#page-title p {
	padding-top: 20px;
}

.main-text {
	margin-top: 70px;
}

.main-text p {
	margin-top: 30px;
	text-align: center;
}

.left_box {
	margin-top: 30px;
	float: left;
	width: 350px;
	background-color: white;
	margin-bottom: 30px;
}

.right_box {
	margin-top: 30px;
	float: right;
	width: 600px;
	margin-bottom: 30px;
}

.box {
	background-color: white;
	border-style: solid;
	border-color: #EEEEEE;
	padding: 25px;
	height:100%;
}

.overflow_auto {
	overflow:auto;
}

.box a:link, .box a:visited, .box a:visited {
	text-decoration: none;
	color:  #FF8F00;
}

.box a:hover, .box a:hover {
	text-decoration: underline;
}

.main {
	width: 1100px;
	margin: 0 auto;
	font-size: 15pt;
}

.map {
	margin-left: 25px;
	float: left;
	width: 200px;
	margin-right: 95px;
}

.contact {
	float: left;
	width: 200px;
	margin-right: 95px;
	margin-bottom: 30px;
	text-align: left;
}

.phone {
	float: left;
	margin-top: 125px;
}

#vertical_line_small {
	height:30px;
	float: left;
	width:2px;
	background:#FFF;
	-moz-transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	transform: skew(-20deg);
	margin-left: 20px;
	margin-right: 20px;
}

.fast_contact {
	float: left;
	font-size: 18pt;
}

.fa {
	margin-top: 3px;
	margin-right: 10px;
}

#copyright {
	clear: both;
	text-align: center;
	background-color: #333333;
	padding-top: 15px;
	padding-bottom: 15px;
}

#main {
	width: 1100px;
	margin: 0 auto;
	font-size: 15pt;
	margin-top: 110px;
	min-height: 100%;   

    min-height: 100%;
}

#footer {
	margin-top: 30px;
	clear: both;
	background-color: #252525;
	color: white;

    position: relative;
	bottom: 0;
    width:100%;
}


.footer-title {
	border-bottom-style: solid;
	border-color: white;
	border-bottom-width: 1px;
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

#footer a:link, #footer a:visited, #footer a:visited {
	text-decoration: none;
	color:  white;
}

#footer a:hover, #footer a:hover {
	text-decoration: underline;
}

#footer ul {
	margin-left: -22px;
}

#footer li {
	margin-bottom: 5px;
}

.contact_info {
	float: left;
	width: 350px;
	margin-right: 30px;
}

.location {
	margin-top: 20px;
	width: 600px;
	float: right;
	padding: 0px;
	margin-bottom: -5px;
}


.contact_info td {
	padding-right: 15px;
}

.contact_info td:nth-child(1) {  
	text-align: right;
}

.text_portfolio {
	float: left;
	width: 410px;
	text-align: justify;
	margin-right: 44px;
}

.image_portfolio {
    width: 580px;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  	margin-bottom: -8px;
}

.text_portfolio_revert {
	float: right;
	width: 410px;
	text-align: justify;
	margin-left: 44px;
}

.image_portfolio_revert {
    width: 580px;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  	clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  	margin-bottom: -8px;
}

.text_smaller {
	margin-top: 20px;
	font-size: 13pt;
}

.interest {
	text-align: center;
	font-size: 20pt;
	margin-top: 30px;
}

.half_box_left {
	background-color: white;
	width: 535px;
	float: left;
	margin-top: 30px;
	margin-right: 30px;
	min-height: 300px;
	margin-bottom: 30px;
}

.half_box_right {
	background-color: white;
	width: 535px;
	float: left;
	margin-top: 30px;
	height: 300px;
	margin-bottom: 30px;
}

.mini-map {
	border:0; 
	width: 100%; 
	height: 194px; 
}

.left_intro {
	font-size: 17pt;
	width: 540px;
	float: left;
}

.right_intro {
	width: 385px;
	float: right;
	margin-top: -255px;
	margin-right: 30px;
}

.services {
	clear: both;
}

.icons_line {
	float: left;
	text-align: center;
	margin-top: 5px;
	font-size: 14pt;
}

.icons_line ul {
	padding: 0px;
	margin-bottom: 10px;
}

.icons_line li {
	display: inline-block;
	margin-right: 5px;
}

.icons_line li:last-child {
	margin-right: 0px;
}

.icons_line p {
	margin-top: 20px;
}

.big_icon {
	font-size: 65pt;
	background: #555555;
	color: white;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.realization {
	margin-top: 30px;
	clear: both;
	overflow: auto;
}

.realization .link {
	overflow: auto;
}

.link {
	padding-top: 10px;
	padding-bottom: 20px;
	clear: both;
	color: black;
}

.link a:link, .link a:visited, .link a:visited {
	text-decoration: none;
	color: black;
}

.link a:hover {
	text-decoration: underline;
	color: #db1a23;
}

.link:hover {
	text-decoration: underline;
	color: #db1a23;
}

.realization .link {
    margin-bottom: 5px;
}

.last_margin {
	margin-bottom: 25px;
}

@media print {
	#footer {
		display: none;
	}
	#navbar {
		display: none;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body {
	   font-family: Arial;
	}

	.big_icon {
	    padding: 24px;
	}

	.location {
		width: 550px;
	}

	.contact_info {
		width: 400px;
	}

}

@supports (-ms-ime-align: auto) {
	body {
		font-family: Arial;
	}

	.big_icon {
	    padding: 24px;
	}

	.location {
		width: 550px;
	}

	.contact_info {
		width: 400px;
	}
}